* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  margin-bottom: 0px;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat/Montserrat-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat/Montserrat-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "KaushanScript";
  src: url("fonts/KaushanScript/KaushanScript-Regular.ttf");
  font-weight: 400;
}

.scroll-disabled {
  overflow: hidden;

  .header__logo a {
    color: #f38181;
  }
}

.container {
  max-width: 1230px;
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  margin: 40px 0;
  border: 0;
  background-color: #e5e5e5;
}

.separate {
  width: 60px;
  height: 3px;

  &_white {
    background-color: #ffffff;
  }
  &_pink {
    background-color: #f38181;
  }
}

body {
  font-family: "Montserrat";
}

.header {
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: 1000;
  width: 100%;
  color: #ffffff;
  min-height: 85px;
  padding: 17px 0px;

  .col-md-1 {
    padding: 0px;
  }

  &__logo {
    font-weight: bold;
    font-size: 30px;
    z-index: 20;

    a {
      color: inherit;
      transition: all 0.3s ease;
    }
  }

  &__content {
    gap: 46px;
    padding: 15px 0px 0px 0px;
    position: static;
  }

  &__menu {
    ul {
      gap: 55px;

      @media screen and (max-width: 900px) {
        flex-direction: column !important;
        align-items: center;
      }

      li {
        a {
          position: relative;
          font-weight: 400;
          text-transform: uppercase;
          font-size: 14px;
          color: #ffffff;
          transition: ease-in-out color 0.25s;

          @media screen and (max-width: 900px) {
            color: #f38181;
          }

          &::before {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 0px;
            width: 0%;
            height: 3px;
            background-color: #fce38a;
            transition: ease-in-out width 0.25s;

            @media screen and (max-width: 900px) {
              background-color: #f38181;
            }
          }

          &:hover {
            color: #fce38a;
          }

          &:hover::before {
            width: 100%;
          }
        }

        a.active {
          color: #fce38a;

          @media screen and (max-width: 900px) {
            color: #f38181;
          }

          &::before {
            width: 100%;
          }
        }
      }
    }

    @media screen and (max-width: 900px) {
      width: 320px;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
      height: 100vh;
      padding: 100px 20px;
      transform: translateX(-100%);
      transition: transform 0.3s ease;
      background-color: white;
      overflow-y: auto;

      &.active {
        transform: translateX(0);
      }
    }
  }

  &__menu-btn {
    display: none;
    z-index: 12;
    cursor: pointer;

    @media screen and (max-width: 900px) {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 24px;
    }

    .menu-btn-line {
      height: 2px;
      border-radius: 50px;
      background-color: white;
      transition: transform 0.3s;
    }
  }

  &__menu-btn.active {
    .menu-btn-line:nth-child(1) {
      transform: translate3d(0, 6.8px, 0) rotate(45deg);
    }
    .menu-btn-line:nth-child(2) {
      opacity: 0;
    }
    .menu-btn-line:nth-child(3) {
      transform: translate3d(0, -6.8px, 0) rotate(-45deg);
    }
  }

  @media screen and (max-width: 900px) {
    &__shoping-card {
      display: none;
    }

    &__search {
      display: none;
    }
  }
}
